@import "style.css";
.bg-basecolor{
    background-color: #235784;
}
.bg-basecolor-footer{
    background-color: #235784 !important;
}
.bg-blue{
    background-color: #1041fb;
    color: #ffde03;
}

.bg-pink{
    background-color: #FF4081;
}
.page{
    margin-top: 50px;
}
.btn-kodak-primary{
    background-color: #FF4081;
    border: 1px dashed #FFFF00;
    color: #0035c9;
}
.btn-kodak-primary:hover{
    border: 1px dashed #FFFF00;
    color: #FFFF00;
}

/********    menu   ********/
.menu{
    border-bottom: 1px dashed #1041fb;
}
nav div.navbar ul li a{
    color: #ffde03;
}
nav div.navbar ul li a:hover{
    color: #FFFFff;
}
.page .picbook{
    height: auto;
    background: none;
}
.page .picbook h2,h1{
    color: #1041fb;
}
.page .picbook .card {
    background-color: #0060ca;
}
.page .picbook .card-title{
    color: #ffde03;
}
.page .picbook .card .card-body .card-text {
    color: #ffde03;
}
.page .picbook .card-body a{
    background-color: #FF4081;
    border: 1px dashed #FF4081;
    color: yellow;
}
.page .picbook .card-body a.border-none{
    border: none;
}
a.border-none h4 span{
    font-size: 10px;
    color: white;
}
.page .picbook .card-body a:hover{
transform: rotate(10deg);
}
.last-news h3{
    color: #FF4081;
}
.Top {
    background-color: #FF4081;
}
div.Tabselected img{
    border:5px solid #FF4081;
    max-height: 200px!important;
}
div.Tabselected img:hover{
    background-color: #9fcdff;
    border:5px solid #FF4081;
}
.last-news-title h3{
    color: #1041fb;
    border-radius: 10px;
}
.last-news-desc{
    color: #000000;
}
.last-news-btn a{
    color: #1041fb;
}
.last-news-btn img{
    display: none;
}
.oval {
    background: #ffad36;
}
/********  end last-news   ********/
/********       footer   ********/

.footer{
    color: #ffff99;
    padding: 0!important;
    margin: 0!important;
}
.flaticon-whatsapp:before,
.flaticon-telegram:before,
.flaticon-instagram:before,
.flaticon-linkedin:before {
    color: #FF80AB;
}
.footer .btn-kodak-yellow{
    border: 1px solid #FF80AB;
    color: #FF80AB;
    font-weight: bold;
}
.footer .btn-kodak-yellow:hover{
    background-color: #FF4081;
    border: 1px dashed #FF4081;
    font-weight: normal;
    color: #ffff99;
}
.footer .flaticon-phone:before {
    color:#FF80AB;
    font-size: 22px;
}
.footer address i{
    color: #ff94b3;
}
.img-weblic{
    background: url("../img/wealth-b.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.weblic:hover .img-weblic{
    background: url("../img/wealth-b1.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.weblic h2{
    color: #FF80AB;
}
.weblic h2:hover{
    color: #ffafb8;
}
.goal h3{
    border-bottom: 1px dashed #024aff;
}
/*  Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .body{
        background-image: none;
    }
    /********   end body   ********/
    /********  book     ********/
    .page .picbook{
        height: auto;
    }
    div.Tabselected img{
        border:4px solid #FF4081;
    }
    div.Tabselected img:hover{
        border:4px solid #FF4081;
    }
    .oval {
        background: #ffad36;
    }
}
@media only screen and (max-width: 576px) {
    nav div.navbar ul li {
        border-bottom: 1px dashed #256695;
    }
    nav div.navbar ul li:hover {
        background-color: #245d8b;
    }
    div.Tabselected img{
        border:5px solid #FF4081;
        border-top: 5px solid #FF4081!important;
    }
    div.Tabselected img:hover{
        border:5px solid #FF4081;
    }
    .goal{
        background-color: #235784;
    }
}